<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="generator" content="Orbitale EasyImpress">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content='Alex "Pierstoval" Rock Ancelet <pierstoval@gmail.com>'>
    <link rel="apple-touch-icon-precomposed" href="{{ asset('favicon.ico') }}">
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    <title>{% block title %}{% endblock %}</title>

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <script src="{{ asset('js/ie10-viewport-bug-workaround.js') }}" type="text/javascript"></script>

    <meta property="og:title" content="My Impress porfolio by Pierstoval">

    {% block css %}{% endblock %}

    <style type="text/css" id="holderjs-style"></style>
</head>

<body class="{% block bodyClass %}{% endblock %}">

{% block navigation %}
    {% if slider is not defined %}
        {% set slider = { name:"" } %}
    {% endif %}
    <nav id="navigation" class="masthead clearfix navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-contents">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!--/.navbar-header-->

            <div class="collapse navbar-collapse" id="nav-contents">
                <ul class="masthead-nav">
                    <li{% if slider.name == "home" %} class="active"{% endif %}>
                        <a href="{{ url('home', {}) }}">{{ "slides.home.title" | trans }}</a>
                    </li>
                </ul>
            </div><!--/.collapse.navbar-collapse-->
        </div><!--/.container-fluid-->
    </nav>
{% endblock %}

{% block contentWrapper %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="container">
                <div class="cover-container">
                    <div id="content">
                        {% block content %}{% endblock %}
                    </div>

                    {{ include('_footer.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.transit.min.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>
